@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Pacifico&display=swap');

body {
    background-color: rgba(255, 167, 229, 0.438);
}

.recipe-heading {
    text-align: center;
    color: rgb(71, 7, 42);
    font-family: 'Dancing Script', cursive;
    font-size: 3rem;
    
}

.ingridients {
    border: 1px solid black;
    width: 50%;
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 15px;
}

.image {
    display: block;
    margin: 0 auto;
  width: 150px;
}

.ingridients-table {
    border: 2px solid black;
    margin: 0 auto;
    color: rgb(7, 70, 7);
    font-size: large;
}

.instructions {
    border: 1px solid black;
    width: 50%;
    margin: 0 auto;
    font-size: large;
}

.instructions ol {
    border: 1px solid black;
    margin: 0 auto;
    width: 90%;
    color: rgb(7, 65, 7);
}

.footer {
    color: rgb(71, 7, 42);
    text-align: center;
    font-family: 'Pacifico', cursive;
    font-size: 1rem
}